<!-- Top Banner -->
<div class="top-banner">
  🦋Shop for 1999 and get 30% off🦋
</div>

<!-- Main Header -->
<header class="main-header">
  <!-- <div class="logo">ARtপ্রহর</div> -->
  <div class="brand-logo">
    <span class="art">ARt</span><span class="prohor">প্রহর</span>
  </div>
  
  <nav class="nav-links">
    <div href="#" class="active dropdown1">Home</div>
    <div class="dropdown1">Silver Replica ▾</div>
    <div class="dropdown1">Anti Tarnish ▾</div>
    <div class="dropdown1">Golden Brass ▾</div>
    <div class="dropdown1">Black Polish ▾</div>
    <div href="#" class="dropdown1">Big SALE</div>
  </nav>

  <div class="icons">
    <i class="icon">🔍</i>
    <i class="icon">👤</i>
    <i class="icon">👜</i>
  </div>
</header>

