<p>signup works!</p>
<div class="registration-container">
  <div class="left-side">
    <img src="assets/signupimage.avif" alt="Jewelry Making Woman" />
  </div>

  <div class="right-side">
    <h2>SIGN UP</h2>
    <p>Please fill in the information below:</p>

    <form (ngSubmit)="createAccount()">
      <input type="text" placeholder="First name" [(ngModel)]="firstName" name="firstName" required />
      <input type="text" placeholder="Last name" [(ngModel)]="lastName" name="lastName" required />
      <input type="email" placeholder="E-mail" [(ngModel)]="email" name="email" required />
      <input type="password" placeholder="Password" [(ngModel)]="password" name="password" required />

      <button type="submit">CREATE ACCOUNT</button>
    </form>

    <p class="login-link">Already have an account? <a href="#">Login</a></p>
  </div>
</div>
